aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libfutile.la
.libs
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
test-coord
test-coord.log
test-coord.trs
test-driver
test-geo
test-geo.log
test-geo.trs
test-suite.log
test-tile
test-tile.log
test-tile.trs
test/.deps/
test/.dirstamp
src/.deps/
src/.dirstamp
*.lo
doc/
